<h2>Уважаемый {{name}}!</h2>
<p> Появилась новая заявка на персональную тренировку от пользователя {{authorName}} </p>
<p> Уровень подготовки: {{level}} </p>
<p> Желаемый вид тренировки: {{trainType}} </p>
<p> Продолжительность тренировки: {{duration}} </p>
<p> Целевой расход калорий {{caloriesTarget}} </p>
<p> Ежедневный расход калорий: {{caloriesDaily}} </p>
<p> Дополнительная информация о пользователе: {{description}} </p>
<p> Просьба подтвердить заявку.</p>



