<h2>Уважаемый {{userName}}!</h2>
<p> Сообщаем Вам появлении новой тренировки по вашему запросу </p>
<p> Название тренировки: {{name}} </p>
<p> Описание тренировки: {{description}} </p>
<p> Требуемый уровень подготовки {{level}} </p>
<p> Продолжительность тренировки: {{duration}} </p>
<p> Расход калорий: {{calories}} </p>
<p> Для кого предназначена: {{gender}} </p>
<p> Рейтинг тренировки: {{rating}} </p>
<p> Тренирвку проводит: {{trainerId}} </p>
<p> Является специальным предложением: {{isSpecial}} </p>
<p> Ссылка на видео: {{videoURL}} </p>
<p> Цена: {{price}} </p>
<p> Ждем Вас в нашем клубе!</p>



